In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
pwd

'D:\\pythondata'

In [3]:
data = pd.read_csv('03_ex/AIR_HOUR_2021.csv',encoding='cp949')

In [4]:
data

,측정일시,측정소 코드,측정항목 코드,평균값,측정기 상태,국가 기준초과 구분,지자체 기준초과 구분,저장일시
0,20211231230000,108,5,0.700,0,0,0,20220101000024
1,20211231230000,108,6,0.018,0,0,0,20220101000024
2,20211231230000,108,8,19.000,0,0,0,20220101000024
3,20211231230000,108,9,8.000,0,0,0,20220101000024
4,20211231230000,103,3,0.018,0,0,0,20220101000025
...,...,...,...,...,...,...,...,...
1313995,20210101000000,124,3,0.024,0,0,0,20210101010014
1313996,20210101000000,124,1,0.003,0,0,0,20210101010014
1313997,20210101000000,124,5,0.500,0,0,0,20210101010014
1313998,20210101000000,124,6,0.021,0,0,0,20210101010014
1313999,20210101000000,124,8,18.000,0,0,0,20210101010014

In [5]:
data.columns

Index(['측정일시', '측정소 코드', '측정항목 코드', '평균값', '측정기 상태', '국가 기준초과 구분',
       '지자체 기준초과 구분', '저장일시'],
      dtype='object')

In [6]:
df1 = data[['측정일시','측정소 코드','측정항목 코드','평균값','측정기 상태']]

In [7]:
df1

                   측정일시  측정소 코드  측정항목 코드     평균값  측정기 상태
0        20211231230000     108        5   0.700       0
1        20211231230000     108        6   0.018       0
2        20211231230000     108        8  19.000       0
3        20211231230000     108        9   8.000       0
4        20211231230000     103        3   0.018       0
...                 ...     ...      ...     ...     ...
1313995  20210101000000     124        3   0.024       0
1313996  20210101000000     124        1   0.003       0
1313997  20210101000000     124        5   0.500       0
1313998  20210101000000     124        6   0.021       0
1313999  20210101000000     124        8  18.000       0

[1314000 rows x 5 columns]

In [8]:
data2 = pd.read_csv('03_ex/서울시 대기오염 측정소 정보 (1).csv',encoding='cp949')

In [9]:
data2

,측정소 코드,측정소 이름,측정소 주소,표시 순서,공인코드
0,101,종로구,서울 종로구 종로35가길 19 종로56가 동 주민센터,1,111123
1,102,중구,서울 중구 덕수궁길 15 시청서소문별관 3동,2,111121
2,103,용산구,서울 용산구 한남대로 136 서울특별시중부기술교육원,3,111131
3,104,은평구,서울 은평구 진흥로 215 (한국환경산업기술원 온실동2층 ),4,111181
4,105,서대문구,서울 서대문구 세검정로4길 32(홍제3동 주민센터),5,111191
5,106,마포구,서울 마포구 포은로 6길 10 망원1동주민센터 옥상,6,111201
6,107,성동구,서울 성동구 뚝섬로3길 18 성수1가1동주민센터,7,111142
7,108,광진구,서울특별시 광진구 광나루로 571 구의 아리수정수센터,8,111141
8,109,동대문구,서울 동대문구 천호대로13길 43 용두초등학교,9,111152
9,110,중랑구,서울 중랑구 용마산로 369 건강가정지원센터,10,111151
10,111,성북구,서울 성북구 삼양로2길 70 길음2동 주민센터,11,111161
11,112,강북구,서울 강북구 삼양로 139길 49 우이동 주민센터,12,111291
12,113,도봉구,서울 도봉구 시루봉로2길 34 쌍문동청소년문화의집,13,111171
13,114,노원구,서울 노원구 상계로 118 상계2동 주민센터 (23길 17 노원구 원터행복발전소),14,111311
14,115,양천구,서울 양천구 중앙로52길 56 신정4동 문화센터,15,111301
15,116,강서구,서울 강서구 강서로 45 다길 71 화곡3동 푸른들청소년도서관,16,111212
16,117,구로구,서울 구로구 가마산로 27길 45 구로고등학교,17,111221
17,118,금천구,서울 금천구 금하로21길 20 시흥5동 주민센터,18,111281
18,119,영등포구,서울특별시 영등포구 당산로 123 영등포구청 (당산동3가),19,111231
19,120,동작구,서울 동작구 사당로16아길 6 사당4동 주민센터,20,111241
20,121,관악구,서울 관악구 신림동길 14 신림동 주민센터,21,111251
21,122,서초구,서울 서초구 신반포로15길 16 반포 2동 주민센터,22,111262
22,123,강남구,서울 강남구 학동로 426 강남구청 별관 1동,23,111261
23,124,송파구,서울 송파구 백제고분로 236 삼전동 주민센터 (삼전동),24,111273
24,125,강동구,서울 강동구 구천면로 42길 59 천호1동 주민센터,25,111274

In [10]:
df2 = data2[['측정소 코드','측정소 이름','측정소 주소',]]

In [11]:
df2

    측정소 코드 측정소 이름                                         측정소 주소
0      101    종로구                  서울 종로구 종로35가길 19 종로56가 동 주민센터
1      102     중구                       서울 중구 덕수궁길 15 시청서소문별관 3동
2      103    용산구                   서울 용산구 한남대로 136 서울특별시중부기술교육원
3      104    은평구              서울 은평구 진흥로 215 (한국환경산업기술원 온실동2층 )
4      105   서대문구                  서울 서대문구 세검정로4길 32(홍제3동 주민센터)
5      106    마포구                   서울 마포구 포은로 6길 10 망원1동주민센터 옥상
6      107    성동구                     서울 성동구 뚝섬로3길 18 성수1가1동주민센터
7      108    광진구                  서울특별시 광진구 광나루로 571 구의 아리수정수센터
8      109   동대문구                      서울 동대문구 천호대로13길 43 용두초등학교
9      110    중랑구                       서울 중랑구 용마산로 369 건강가정지원센터
10     111    성북구                      서울 성북구 삼양로2길 70 길음2동 주민센터
11     112    강북구                    서울 강북구 삼양로 139길 49 우이동 주민센터
12     113    도봉구                    서울 도봉구 시루봉로2길 34 쌍문동청소년문화의집
13     114    노원구  서울 노원구 상계로 118 상계2동 주민센터 (23길 17 노원구 원터행복발전소)
14     115    양천구                     서울 양천구 중앙로52길 56 신정4동 문화센터
15     116    강서구             서울 강서구 강서로 45 다길 71 화곡3동 푸른들청소년도서관
16     117    구로구                      서울 구로구 가마산로 27길 45 구로고등학교
17     118    금천구                     서울 금천구 금하로21길 20 시흥5동 주민센터
18     119   영등포구               서울특별시 영등포구 당산로 123 영등포구청 (당산동3가)
19     120    동작구                     서울 동작구 사당로16아길 6 사당4동 주민센터
20     121    관악구                        서울 관악구 신림동길 14 신림동 주민센터
21     122    서초구                   서울 서초구 신반포로15길 16 반포 2동 주민센터
22     123    강남구                      서울 강남구 학동로 426 강남구청 별관 1동
23     124    송파구                서울 송파구 백제고분로 236 삼전동 주민센터 (삼전동)
24     125    강동구                   서울 강동구 구천면로 42길 59 천호1동 주민센터

In [12]:
data3 = pd.read_csv('03_ex/서울시 대기오염 측정항목 정보.csv',encoding='cp949')

In [13]:
data3.columns

Index(['측정항목 코드', '측정항목 명(줄임 명칭)', '통신기호', '측정단위', '화면 정렬 순서', '사용여부',
       '메인화면 표시', '소수점 자리 수', '범례-파랑', '범례-녹색', '범례-노랑', '범례-빨강'],
      dtype='object')

In [14]:
df3 = data3[['측정항목 코드', '측정항목 명(줄임 명칭)','측정단위']]

In [15]:
df3

   측정항목 코드 측정항목 명(줄임 명칭) 측정단위
0        1           SO2  ppm
1        3           NO2  ppm
2        5            CO  ppm
3        6            O3  ppm
4        8          PM10  ㎍/㎥
5        9         PM2.5  ㎍/㎥

In [16]:
merge_inner = pd.merge(df1, df2)

In [17]:
df_m= merge_inner

In [18]:
merge_inner = pd.merge(df_m, df3)

In [19]:
df_m = merge_inner

In [20]:
df_m

,측정일시,측정소 코드,측정항목 코드,평균값,측정기 상태,측정소 이름,측정소 주소,측정항목 명(줄임 명칭),측정단위
0,20211231230000,108,5,0.700,0,광진구,서울특별시 광진구 광나루로 571 구의 아리수정수센터,CO,ppm
1,20211231220000,108,5,0.700,0,광진구,서울특별시 광진구 광나루로 571 구의 아리수정수센터,CO,ppm
2,20211231210000,108,5,0.600,0,광진구,서울특별시 광진구 광나루로 571 구의 아리수정수센터,CO,ppm
3,20211231200000,108,5,0.600,0,광진구,서울특별시 광진구 광나루로 571 구의 아리수정수센터,CO,ppm
4,20211231190000,108,5,0.600,0,광진구,서울특별시 광진구 광나루로 571 구의 아리수정수센터,CO,ppm
...,...,...,...,...,...,...,...,...,...
1313995,20210101040000,114,1,0.004,0,노원구,서울 노원구 상계로 118 상계2동 주민센터 (23길 17 노원구 원터행복발전소),SO2,ppm
1313996,20210101030000,114,1,0.004,0,노원구,서울 노원구 상계로 118 상계2동 주민센터 (23길 17 노원구 원터행복발전소),SO2,ppm
1313997,20210101020000,114,1,0.004,0,노원구,서울 노원구 상계로 118 상계2동 주민센터 (23길 17 노원구 원터행복발전소),SO2,ppm
1313998,20210101010000,114,1,0.003,0,노원구,서울 노원구 상계로 118 상계2동 주민센터 (23길 17 노원구 원터행복발전소),SO2,ppm
1313999,20210101000000,114,1,0.003,0,노원구,서울 노원구 상계로 118 상계2동 주민센터 (23길 17 노원구 원터행복발전소),SO2,ppm

In [21]:
df_m.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1314000 entries, 0 to 1313999
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   측정일시           1314000 non-null  int64
 1   측정소 코드         1314000 non-null  int64
 2   측정항목 코드        1314000 non-null  int64
 3   평균값            1314000 non-null  float64
 4   측정기 상태         1314000 non-null  int64
 5   측정소 이름         1314000 non-null  object
 6   측정소 주소         1314000 non-null  object
 7   측정항목 명(줄임 명칭)  1314000 non-null  object
 8   측정단위           1314000 non-null  object
dtypes: float64(1), int64(4), object(4)
memory usage: 100.3+ MB

In [22]:
df_m["측정일시"] = df_m["측정일시"].astype('str')

In [23]:
df_m['연도'] = df_m["측정일시"].str[:4]
df_m['월'] = df_m["측정일시"].str[4:6]
df_m['일'] = df_m["측정일시"].str[6:8]
df_m['시'] = df_m["측정일시"].str[8:10]

In [24]:
df_m.columns

Index(['측정일시', '측정소 코드', '측정항목 코드', '평균값', '측정기 상태', '측정소 이름', '측정소 주소',
       '측정항목 명(줄임 명칭)', '측정단위', '연도', '월', '일', '시'],
      dtype='object')

In [25]:
df_m = df_m[['측정소 코드', '측정항목 코드', '평균값', '측정기 상태', '측정소 이름', '측정소 주소',
       '측정항목 명(줄임 명칭)', '측정단위', '연도', '월', '일', '시']]

In [26]:
df_m.sample(5)

,측정소 코드,측정항목 코드,평균값,측정기 상태,측정소 이름,측정소 주소,측정항목 명(줄임 명칭),측정단위,연도,월,일,시
1110332,103,1,0.003,0,용산구,서울 용산구 한남대로 136 서울특별시중부기술교육원,SO2,ppm,2021,04,02,03
137726,102,5,0.500,0,중구,서울 중구 덕수궁길 15 시청서소문별관 3동,CO,ppm,2021,04,12,09
147441,101,5,0.500,0,종로구,서울 종로구 종로35가길 19 종로56가 동 주민센터,CO,ppm,2021,03,03,14
695331,106,9,16.000,0,마포구,서울 마포구 포은로 6길 10 망원1동주민센터 옥상,PM2.5,㎍/㎥,2021,08,16,20
399093,124,6,0.050,0,송파구,서울 송파구 백제고분로 236 삼전동 주민센터 (삼전동),O3,ppm,2021,06,11,02

In [27]:
df_m.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1314000 entries, 0 to 1313999
Data columns (total 12 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   측정소 코드         1314000 non-null  int64
 1   측정항목 코드        1314000 non-null  int64
 2   평균값            1314000 non-null  float64
 3   측정기 상태         1314000 non-null  int64
 4   측정소 이름         1314000 non-null  object
 5   측정소 주소         1314000 non-null  object
 6   측정항목 명(줄임 명칭)  1314000 non-null  object
 7   측정단위           1314000 non-null  object
 8   연도             1314000 non-null  object
 9   월              1314000 non-null  object
 10  일              1314000 non-null  object
 11  시              1314000 non-null  object
dtypes: float64(1), int64(3), object(8)
memory usage: 130.3+ MB

In [29]:
index1 = df_m[df_m['측정기 상태'] != '0'].index
print(index1)
df_m.drop(index1)

Int64Index([      0,       1,       2,       3,       4,       5,       6,
                  7,       8,       9,
            ...
            1313990, 1313991, 1313992, 1313993, 1313994, 1313995, 1313996,
            1313997, 1313998, 1313999],
           dtype='int64', length=1314000)

Empty DataFrame
Columns: [측정소 코드, 측정항목 코드, 평균값, 측정기 상태, 측정소 이름, 측정소 주소, 측정항목 명(줄임 명칭), 측정단위, 연도, 월, 일, 시]
Index: []

In [79]:
df_m.columns

Index(['측정소 코드', '측정항목 코드', '평균값', '측정기 상태', '측정소 이름', '측정소 주소',
       '측정항목 명(줄임 명칭)', '측정단위', '연도', '월', '일', '시'],
      dtype='object')

In [94]:
df_m.sample(5)

,측정소 코드,측정항목 코드,평균값,측정기 상태,측정소 이름,측정소 주소,측정항목 명(줄임 명칭),측정단위,연도,월,일,시,평균값1
1189567,115,1,0.003,0,양천구,서울 양천구 중앙로52길 56 신정4동 문화센터,SO2,ppm,2021,03,16,16,NaN
892903,103,3,0.040,0,용산구,서울 용산구 한남대로 136 서울특별시중부기술교육원,NO2,ppm,2021,01,26,16,NaN
613933,124,8,20.000,0,송파구,서울 송파구 백제고분로 236 삼전동 주민센터 (삼전동),PM10,㎍/㎥,2021,12,01,10,0.02
71452,118,5,0.600,0,금천구,서울 금천구 금하로21길 20 시흥5동 주민센터,CO,ppm,2021,11,04,19,NaN
1166541,118,1,0.003,0,금천구,서울 금천구 금하로21길 20 시흥5동 주민센터,SO2,ppm,2021,11,01,02,NaN

In [84]:
df_m.측정단위.value_counts()

ppm    876000
㎍/㎥    438000
Name: 측정단위, dtype: int64

In [107]:
# def ex1(v):
#     if v[0]=='ppm':
#         return v[1]
#     else:
#         return v[1] *0.001
def ex1(v):
    for i in range(len(v.index)): loc
        if v[i]=='ppm':
            return v[i]
        else:
            return v[i] * 0.001

df_m['평균값'].apply(ex1)

AttributeError: 'float' object has no attribute 'index'

In [93]:
df_m.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1314000 entries, 0 to 1313999
Data columns (total 13 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   측정소 코드         1314000 non-null  int64
 1   측정항목 코드        1314000 non-null  int64
 2   평균값            1314000 non-null  float64
 3   측정기 상태         1314000 non-null  int64
 4   측정소 이름         1314000 non-null  object
 5   측정소 주소         1314000 non-null  object
 6   측정항목 명(줄임 명칭)  1314000 non-null  object
 7   측정단위           1314000 non-null  object
 8   연도             1314000 non-null  object
 9   월              1314000 non-null  object
 10  일              1314000 non-null  object
 11  시              1314000 non-null  object
 12  평균값1           438000 non-null   float64
dtypes: float64(2), int64(3), object(8)
memory usage: 172.6+ MB

In [105]:
df_m.sample(5)

,측정소 코드,측정항목 코드,평균값,측정기 상태,측정소 이름,측정소 주소,측정항목 명(줄임 명칭),측정단위,연도,월,일,시,평균값1
816076,116,9,37.000,0,강서구,서울 강서구 강서로 45 다길 71 화곡3동 푸른들청소년도서관,PM2.5,㎍/㎥,2021,11,03,19,0.037
527361,115,8,48.000,0,양천구,서울 양천구 중앙로52길 56 신정4동 문화센터,PM10,㎍/㎥,2021,10,19,14,0.048
769458,111,9,15.000,0,성북구,서울 성북구 삼양로2길 70 길음2동 주민센터,PM2.5,㎍/㎥,2021,03,01,05,0.015
1250374,113,1,0.003,0,도봉구,서울 도봉구 시루봉로2길 34 쌍문동청소년문화의집,SO2,ppm,2021,04,07,01,NaN
53759,122,5,0.200,0,서초구,서울 서초구 신반포로15길 16 반포 2동 주민센터,CO,ppm,2021,11,12,00,NaN