In [1]:
import pandas as pd

### 데이터 불러오기

In [185]:
data = pd.read_csv('00_대기오염물질데이터.csv')

In [186]:
data.drop(columns='Unnamed: 0', inplace=True)

In [187]:
data.평균값

0          0.700
1          0.700
2          0.600
3          0.600
4          0.600
           ...
1288254    0.004
1288255    0.004
1288256    0.004
1288257    0.003
1288258    0.003
Name: 평균값, Length: 1288259, dtype: float64

In [188]:
data['평균값'] = data.평균값.round(4)

In [74]:
# # 대기오염 지수 산출에 필요한 변수 데이터프레임 셋.
# # 크롤링으로 만들 수 있을텐데, 일단.
# val = {'SO2': [0,0.02,0.021,0.05,0.051,0.15,0.151,1,0,50,51,100,101,250,251,500],
#        'CO': [0,2,2.1,9,9.1,15,15.1,50,0,50,51,100,101,250,251,500],
#        'O3': [0,0.03,0.031,0.09,0.091,0.15,0.151,0.6,0,50,51,100,101,250,251,500],
#        'NO2': [0,0.03,0.031,0.06,0.061,0.2,0.201,2,0,50,51,100,101,250,251,500],
#        'PM10': [0,30,31,80,81,150,151,600,0,50,51,100,101,250,251,500],
#        'PM2.5': [0,15,16,35,36,75,76,500,0,50,51,100,101,250,251,500]}

# var = pd.DataFrame(val,
#                    index=['BP_LO_0', 'BP_HI_0', 'BP_LO_1', 'BP_HI_1', 'BP_LO_2', 'BP_HI_2', 'BP_LO_3', 'BP_HI_3',
#                           'I_LO_0', 'I_HI_0', 'I_LO_1', 'I_HI_1', 'I_LO_2', 'I_HI_2', 'I_LO_3', 'I_HI_3'])

In [75]:
# var

             SO2     CO       O3      NO2  PM10  PM2.5
BP_LO_0    0.000    0.0    0.000    0.000     0      0
BP_HI_0    0.020    2.0    0.030    0.030    30     15
BP_LO_1    0.021    2.1    0.031    0.031    31     16
BP_HI_1    0.050    9.0    0.090    0.060    80     35
BP_LO_2    0.051    9.1    0.091    0.061    81     36
BP_HI_2    0.150   15.0    0.150    0.200   150     75
BP_LO_3    0.151   15.1    0.151    0.201   151     76
BP_HI_3    1.000   50.0    0.600    2.000   600    500
I_LO_0     0.000    0.0    0.000    0.000     0      0
I_HI_0    50.000   50.0   50.000   50.000    50     50
I_LO_1    51.000   51.0   51.000   51.000    51     51
I_HI_1   100.000  100.0  100.000  100.000   100    100
I_LO_2   101.000  101.0  101.000  101.000   101    101
I_HI_2   250.000  250.0  250.000  250.000   250    250
I_LO_3   251.000  251.0  251.000  251.000   251    251
I_HI_3   500.000  500.0  500.000  500.000   500    500

In [ ]:
# if data['측정항목'] == 'SO2':
#     data['평균값'] == var['SO2']

In [189]:
data['측정항목']

0           CO
1           CO
2           CO
3           CO
4           CO
          ...
1288254    SO2
1288255    SO2
1288256    SO2
1288257    SO2
1288258    SO2
Name: 측정항목, Length: 1288259, dtype: object

In [191]:
data = data.reindex(columns = data.columns.tolist() + ['환경지수'])

In [192]:
data

           구 측정항목    평균값   단위    연도   월   일   시  환경지수
0        광진구   CO  0.700  ppm  2021  12  31  23   NaN
1        광진구   CO  0.700  ppm  2021  12  31  22   NaN
2        광진구   CO  0.600  ppm  2021  12  31  21   NaN
3        광진구   CO  0.600  ppm  2021  12  31  20   NaN
4        광진구   CO  0.600  ppm  2021  12  31  19   NaN
...      ...  ...    ...  ...   ...  ..  ..  ..   ...
1288254  노원구  SO2  0.004  ppm  2021   1   1   4   NaN
1288255  노원구  SO2  0.004  ppm  2021   1   1   3   NaN
1288256  노원구  SO2  0.004  ppm  2021   1   1   2   NaN
1288257  노원구  SO2  0.003  ppm  2021   1   1   1   NaN
1288258  노원구  SO2  0.003  ppm  2021   1   1   0   NaN

[1288259 rows x 9 columns]

In [193]:
def jisu(x): # data[['측정항목','평균값','I_LO']]
    if x[0] == 'SO2':
        if x[1] >= 0 and x[1] < 0.021:
            return (50-0)/(0.02-0)*(x[1]-0)+0
        elif x[1] >= 0.021 and x[1] < 0.051:
            return (100-51)/(0.05-0.021)*(x[1]-0.021)+51
        elif x[1] >= 0.051 and x[1] < 0.151:
            return (250-101)/(0.15-0.051)*(x[1]-0.051)+101
        else:
            return (500-251)/(1-0.151)*(x[1]-0.151)+251

    elif x[0] == 'CO':
        if x[1] >= 0 and x[1] < 2.1:
            return (50-0)/(2-0)*(x[1]-0)+0
        elif x[1] >= 2.1 and x[1] < 9.1:
            return (100-51)/(9-2.1)*(x[1]-2.1)+51
        elif x[1] >= 9.1 and x[1] < 15.1:
            return (250-101)/(15-9.1)*(x[1]-9.1)+101
        else:
            return (500-251)/(50-15.1)*(x[1]-15.1)+251

    elif x[0] == 'O3':
        if x[1] >= 0 and x[1] < 0.031:
            return (50-0)/(0.03-0)*(x[1]-0)+0
        elif x[1] >= 0.031 and x[1] < 0.091:
            return (100-51)/(0.09-0.031)*(x[1]-0.031)+51
        elif x[1] >= 0.091 and x[1] < 0.151:
            return (250-101)/(0.15-0.091)*(x[1]-0.091)+101
        else:
            return (500-251)/(0.6-0.151)*(x[1]-0.151)+251

    elif x[0] == 'NO2':
        if x[1] >= 0 and x[1] < 0.031:
            return (50-0)/(0.03-0)*(x[1]-0)+0
        elif x[1] >= 0.031 and x[1] < 0.061:
            return (100-51)/(0.06-0.031)*(x[1]-0.031)+51
        elif x[1] >= 0.061 and x[1] < 0.201:
            return (250-101)/(0.2-0.061)*(x[1]-0.061)+101
        else:
            return (500-251)/(2-0.201)*(x[1]-0.201)+251

    elif x[0] == 'PM10':
        if x[1] >= 0 and x[1] < 31:
            return (50-0)/(30-0)*(x[1]-0)+0
        elif x[1] >= 31 and x[1] < 81:
            return (100-51)/(80-31)*(x[1]-31)+51
        elif x[1] >= 81 and x[1] < 151:
            return (250-101)/(150-81)*(x[1]-81)+101
        else:
            return (500-251)/(600-151)*(x[1]-151)+251

    else:
        if x[1] >= 0 and x[1] < 16:
            return (50-0)/(15-0)*(x[1]-0)+0
        elif x[1] >= 16 and x[1] < 36:
            return (100-51)/(35-16)*(x[1]-16)+51
        elif x[1] >= 36 and x[1] < 76:
            return (250-101)/(75-36)*(x[1]-36)+101
        else:
            return (500-251)/(500-76)*(x[1]-76)+251
        
#https://www.airkorea.or.kr/web/khaiInfo?pMENU_NO=129

In [194]:
data['환경지수'] = data[['측정항목','평균값']].apply(lambda x: jisu(x), axis=1)

In [196]:
data.to_csv('대기오염환경지수.csv', encoding='utf-8-sig')